@font-face {
    font-family: BMWHelvetica_Bold;
    src: url('../fonts/BMWHelvetica-Bold.otf')
}
.feedly-integration {
    font-size: 4em;
    font-family: BMWHelvetica_Bold;
    top: 3px;
    padding-left: 5px;
    margin: 0;
    font-family: BMWHelvetica_Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    line-height: 0.82em;
    letter-spacing: -0.0357em;
    color: black;
}
.list-group-item:first-child {
    border-top: 6px solid transparent;
}
.list-group-item {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to left, #00ffff, #d53a9d);
    border-image-slice: 1;
}
.list-group-item:last-child {
    border-bottom: 6px solid transparent;
    margin-bottom: 9px;
}
.border-gradient {
    padding: 5px 5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-image-slice: 1;
    margin-bottom: 15px;
}
.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 0;
    border-radius: 0;
}
.bg-primary {
    background-image: linear-gradient(-135deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    /* background: radial-gradient(circle at 50% 0,rgba(252,90,113,1), transparent 70.71%),
                radial-gradient(circle at 93.3% 75%, rgba(0,124,244,1), rgba(0,255,0,0) 70.71%),
                radial-gradient(circle at 6.7% 75%, rgba(0,241,238,1), transparent 70.71%); */
}
.card.text-white.bg-primary {
    margin-bottom: -5px;
}
.article-title {
    top: 3px;
    padding-left: 5px;
    margin: 0;
    font-family: BMWHelvetica_Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.75em;
    text-transform: uppercase;
    line-height: 0.82em;
    letter-spacing: -0.0357em;
    color: black;
}
.article-subtitle {
    font-family: BMWHelvetica_Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 0.82em;
    letter-spacing: -0.0357em;
    color: darkgray;
}
.article-action-button {
    width: 24px;
    height: 24px;
    margin: 0 0.25rem;
    padding: 0;
    background: transparent;
    border: 0;
}
.card .bg-login header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-size: cover;
    mix-blend-mode: multiply;
    background: url('../bg-login.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .bg-setting header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-size: cover;
    mix-blend-mode: multiply;
    background: url('../bg-setting.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw0 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/1.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw1 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/2.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw2 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/3.jpeg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw3 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/4.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw4 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/5.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw5 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/6.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw6 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/7.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw7 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/8.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw8 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/9.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw9 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/10.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw10 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/11.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw11 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/12.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw12 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/13.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw13 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/14.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw14 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/15.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw15 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/16.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw16 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/17.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw17 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/18.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw18 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/19.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw19 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/20.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw20 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/21.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw21 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/22.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw22 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/23.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw23 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/24.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card .vw24 header::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    mix-blend-mode: multiply;
    /* animation: swing 4s alternate ease-in-out infinite; */
    background: url('../bg/vaporwave/25.jpg') bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.card header.faded-background::before {
    opacity: 0.5;
}
.card.bg-primary header::before {
    animation: swing 4s alternate ease-in-out infinite;
}
.card header {
    position: relative;
    padding-top: 100px;
    background: linear-gradient(45deg, #94d0ff, #ff6ad5);
    overflow: hidden;
    perspective: 400px;
}
.card .bg-login header {
    position: relative;
    padding-top: 0;
    background: linear-gradient(45deg, #94d0ff, #ff6ad5);
    overflow: hidden;
    perspective: 400px;
}
.card header h2 {
    position: relative;
    top: 18px;
    padding-left: 5px;
    margin: 0;
    font-family: BMWHelvetica_Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 0.82em;
    letter-spacing: -0.0357em;
    color: #fff;
}
.card header h2 span {
    display: block;
}
.card header h3 {
    position: relative;
    top: 18px;
    padding-left: 5px;
    margin: 0;
    font-family: BMWHelvetica_Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    text-transform: uppercase;
    line-height: 0.82em;
    letter-spacing: -0.0357em;
    color: #fff;
}
.card header h3 span {
    word-break: break-word;
}
.card-columns h2 {
    font-family: BMWHelvetica_Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 0.88em;
    letter-spacing: -0.0357em;
    padding-top: 30px;
    width: 70%;
}
.card-columns .card .card-body .title {
    position: absolute;
    top: 8px;
    right: 5px;
    padding: 0.5rem;
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}
.card-columns .card .card-body .engagement {
    position: absolute;
    top: 8px;
    left: 5px;
    padding: 0.5rem;
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}
.card header .title {
    position: absolute;
    top: 8px;
    right: 5px;
    padding: 0.5rem;
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}
.card header .engagement {
    position: absolute;
    top: 8px;
    left: 5px;
    padding: 0.5rem;
    background: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}
.card header img.profile {
    width: 100%;
}
.card .desc {
    padding: 1rem;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.card-columns .card.bg-primary .desc {
    color: white;
}
.card .actions {
    display: flex;
}
.card .actions button {
    width: 24px;
    height: 24px;
    margin: 0 0.25rem;
    padding: 0;
    background: transparent;
    border: 0;
}
.detail-box {
    white-space: pre;
}
.barrier {
    display: block;
    background-color: white;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    height: 2px;
}
button:focus {
    outline: none;
    box-shadow: none;
}
.no-focus {
    outline: none;
    box-shadow: none;
}
.fill-white {
    fill: white;
}
.fill-black {
    fill: black;
}
.text-large {
    font-size: 20px;
}
.checkmark-icon svg path:hover {
    fill: limegreen;
    stroke-opacity: 1;
}
.crossmark-icon svg path:hover {
    fill: red;
    stroke-opacity: 1;
}
.browser-icon svg path.fill-black:hover {
    fill:  rgba(73,143,226,0.80);
    stroke-opacity: 1;
}
.browser-icon svg path.fill-white:hover {
    fill: khaki;
    stroke-opacity: 1;
}
.url-icon svg path.fill-black:hover {
    fill: rgba(73,143,226,0.80);
    stroke-opacity: 1;
}
.url-icon svg path.fill-white:hover {
    fill: khaki;
    stroke-opacity: 1;
}
@-moz-keyframes swing {
    0% {
        transform: rotateY(8deg);
    }
    100% {
        transform: rotateY(-8deg);
    }
}
@-webkit-keyframes swing {
    0% {
        transform: rotateY(8deg);
    }
    100% {
        transform: rotateY(-8deg);
    }
}
@-o-keyframes swing {
    0% {
        transform: rotateY(8deg);
    }
    100% {
        transform: rotateY(-8deg);
    }
}
@keyframes swing {
    0% {
        transform: rotateY(8deg);
    }
    100% {
        transform: rotateY(-8deg);
    }
}