html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  p {
    margin: 15px 0 0 15px
  }
  .no-padding-left {
    padding-left: 0px;
  }
  .no-padding-right {
    padding-right: 0px;
  }
  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .scrollable {
    height: 93vh;
    overflow-y: scroll;
  }
  .full-size {
    min-height: 95vh;
    min-width: 100vh;
  }
  .centered {
    margin: auto;
    width: 50%;
  }
  .centered-img {
    display: block;
    margin: 0 auto;
  }
  .badge {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
  .with-padding {
    padding: 10px 10px 10px 10px
  }
  .toolbar-padding {
    padding: 8px 10px 8px 10px
  }
  .padding-top {
    padding-top: 10px
  }
  .padding-bottom {
    padding-bottom: 10px;
  }
  .padding-left {
    padding-left: 10px
  }
  .padding-right {
    padding-right: 10px
  }