html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  p {
    margin: 10px 0 10px 0
  }
  .no-padding-left {
    padding-left: 0px;
  }
  .no-padding-right {
    padding-right: 0px;
  }
  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .scrollable {
    height: 93vh;
    overflow-y: scroll;
  }
  .full-size {
    min-height: 95vh;
    min-width: 100vh;
  }
  .centered {
    margin: auto;
    width: 50%;
  }
  .centered-img {
    display: block;
    margin: 0 auto;
  }
  .badge {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
  .with-padding {
    padding: 10px 10px 10px 10px
  }
  .toolbar-padding {
    padding: 8px 10px 8px 10px
  }
  .padding-top {
    padding-top: 10px
  }
  .padding-bottom {
    padding-bottom: 10px;
  }
  .padding-left {
    padding-left: 10px
  }
  .padding-right {
    padding-right: 10px
  }
  .row .col-md-12 img {
    height: 90%;
    width: 90%;
    margin-bottom: 15px
  }
  .row .col-md-12 h1 {
    margin: 10px 0 5px 0
  }
  .row .col-md-12 h2 {
    margin: 10px 0 5px 0
  }
  .row .col-md-12 h3 {
    margin: 10px 0 5px 0
  }
  .row .col-md-12 h4 {
    margin: 10px 0 5px 0
  }
  .overflow {
    overflow: hidden;
  }
  .working-center-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .webview {
    min-width: 75vw;
    min-height: 100vh;
  }
  .list-group-item {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .frameless-padding {
    padding-top: 17px
  }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .draggable {
    -webkit-app-region: drag;
  }
  .background {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .bg1 {
    background-image: url("bg1.png")
  }
  .bg2 {
    background-image: url("bg2.png")
  }
  .bg3 {
    background-image: url("bg3.jpg")
  }